html {
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
}

body {
  margin: 0;
  background: #c85a19;
}

img {
  width: 6rem;
  margin-bottom: 1rem;
}

* {
  box-sizing: border-box;
}

#root > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.mt-10 {
  margin-top: 10px;
}

p {
  margin: 0;
}

.buttons-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  font-family: "Ubuntu", sans-serif;
  margin: 0.5rem;
  line-height: 1;
  border: none;
  padding: 0.8rem 1rem;
  font-size: 1rem;
  background: #232536;
  border-radius: 0.3rem;
  color: white;
  font-weight: 300;
  width: 170px;
  cursor: pointer;
}
.button:hover {
  background: #2c2f44;
}
.button:active {
  background: #1e212e;
}

.display {
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem;
  background-color: #2759f5;
  color: white;
  border-radius: 0.3rem;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 1rem;
}

.player-score {
  font-size: 1.4rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  background-color: #193ba1;
  color: white;
  border-radius: 0.3rem;
  line-height: 1.5;
  display: flex;
  justify-content: space-between;
}

.player-games {
  font-size: 1.4rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  background-color: #ae2b2b;
  color: white;
  border-radius: 0.3rem;
  line-height: 1.5;
  display: flex;
  justify-content: space-between;
}

.player-sets {
  width: 40px;
  transition: background-color 500ms;
}

.player {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #175d48;
  color: white;
  font-weight: bold;
  border: 1px groove white;
  height: 40px;
}

.player-name {
  padding: 0.5rem 1rem;
  padding-left: 2rem;
  text-transform: uppercase;
  justify-content: flex-start;
}

.lose {
  color: #297150;
}

.usersSets {
  display: flex;
  flex-direction: row;
}

.current {
  background-color: #55b384;
  z-index: -1;
  animation: newSet 500ms;
}

.player-points {
  background-color: white;
  color: #464948;
  animation: newSet 500ms;
}

.scoreboard {
  display: inline-flex;
  flex-direction: row;
}

.players {
  display: flex;
  flex-direction: column;
}

.player-advantage {
  transform: translateX(-40px);
  z-index: -1;
  visibility: hidden;
  transition: all 200ms;
}
.player-advantage.show {
  visibility: visible;
  transform: translateX(0px);
}

.player-service::before {
  position: absolute;
  content: '//';
  left: 1rem;
}

@keyframes newSet {
  from {
    transform: translateX(-40px);
  }
  to {
    transform: translateX(0px);
  }
}
